* {
	margin: 0;
	padding: 0;
}
#content {
	max-width: 1200px;
	min-width: 800px;
	width: 100%;
	margin: 0 auto;
}
.line {
	display: flex;
	height: 40px;
	padding: 10px 0 20px !important;
	margin-top: 20px;
	justify-content: space-between;
	align-items: baseline;
}
.brand {
	font-size: 14px;
}
.inputArea {
	padding-top: 10px;
	border-top: 1px solid #ddd;
}
.inputArea * {
	margin-right: 10px;
}
.todoListArea {
	padding-top: 20px;
	margin-top: 20px;
	border-top: 1px solid #ddd;
}
.todoList {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: start;
}
.ui.card {
	margin: 0 10px 10px 0 !important;
}
